<div class="carousel-inner" *ngIf="bannerList && bannerList.length > 0">
  <mdb-carousel [indicators]="true" [animation]="'fade'" [controls]="true">
    <mdb-carousel-item *ngFor="let data of bannerList">
      <img
        [src]="bannerPath + data.bannerImage_name"
        class="d-block w-100 carousel-img"
        [alt]="data.title"
      />
      <div class="overlay carousel-caption"></div>
      <div class="carousel-caption text-content d-none d-md-block">
        <h5 class="title">{{ data.title }}</h5>
        <p class="description">{{ data.description }}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
