.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  text-align: center;
  opacity: 1;
  height: 400px;
}
.text-content {
  .title,
  .description {
    color: #fff !important;
  }
}

.carousel-img {
  @media screen and (min-width: 720px) {
    width: 100% !important;
    height: 400px !important;
  }
  @media screen and (max-width: 720px) {
    width: 100% !important;
    height: 250px !important;
  }
}

.carousel-caption {
  right: 0% !important;
  left: 0% !important;
}
