<!-- Breadcrumb Section Begin -->
<section
  class="breadcrumb-option spad set-bg"
  data-setbg="img/breadcrumb-bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>{{categoryDetails?.name}}</h2>
          <div class="breadcrumb__links">
            <a routerLink="/product-categories">Product Categories</a>
            <span>{{categoryDetails?.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<section class="services-page spad">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let data of productList">
        <div class="card h-100">
          <img
            [src]="bannerPath + data.thumbImage_name"
            class="card-img-top"
            alt="Hollywood Sign on The Hill"
          />
          <div class="card-body">
            <h5 class="card-title">{{data.name}}</h5>
            <p class="card-text">{{data.composition}}</p>
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
